build/
.dart_tool/
android/.gradle/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
ios/.symlinks/
ios/Podfile.lock
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.lock
